*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img {
  width: 100%;
}

.image {
  display: none;
}

.active {
  display: block;
}

.container {
  max-width: 600px;
  position: relative;
}

.arrow-up, 
.arrow-down {
  border: solid 1px transparent;
  display: inline-block;
  border-radius: 50%;
  width: 50px;
  aspect-ratio: 1;
  background-color: lightgray;
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.arrow-up {
  top: 10px;
  left: 50%;
  transform:translate(-50%, 0);
}

.arrow-down {
  bottom: 10px;
  left: 50%;
  transform:translate(-50%, 0);
}