*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img {
  max-width: 100%;
  display: block;
  aspect-ratio:21/9;
  object-fit: cover;
}

.image {
  display:none;
}

.active {
  display: block;
}

.thumb .thumb-active {
  filter: brightness(100%);
  border: solid 1px greenyellow;
}

.container {
  max-width: 900px;
  position: relative;
  cursor: pointer;
}

.thumb-container {
  position: absolute;
  right: 0;
  width: 20%;
  height: 100%;
  overflow-y: hidden;
}

.thumb {
  position: relative;
}

.thumb-img {
  height: 20%;
  filter: brightness(50%);
}

.arrow-up, 
.arrow-down {
  border: solid 1px transparent;
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  aspect-ratio: 1;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.arrow-up {
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.arrow-down {
  bottom: 5px;
  left: 50%;
  transform:translate(-50%, 0);
}